[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/bookworm-light"]
	path = themes/bookworm-light
	url = https://github.com/gethugothemes/bookworm-light-hugo.git
